

@charset "UTF-8";



  body{
    margin:40px;
  }

p{
color:gray;
}

.title {
  font-size:250%;
  text-align:center;
    color: #fff;
    background: #3cb371;
    padding: 20px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    width:60%;
    margin:40px;
}

.board {
    color: #000;
    background: #fff;
    padding: 30px;
    border: 1px dashed rgba(255,255,255,0.8);
    box-shadow: 0 0 0 5px #d2b48c;
    -moz-box-shadow: 0 0 0 5px #d2b48c;
    -webkit-box-shadow: 0 0 0 5px #d2b48c;
    width:60%;
    margin:0px 40px;
}

.button{

}

.form {
    position: fixed;
    bottom: 40px;
    right: 100px;
    font-size: 100%;
    color: #;
    width: 250px;
    height:40%;
    padding: 20px 10px 0px;
    text-align: center;
    display: block;
    border-radius: 5px;
    border: 2px dashed rgba(255,255,255,0.5);
    border-radius: 6px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 0 0 5px #3cb371, 0 2px 3px 5px rgba(0,0,0,0.5);
}

.left{
  position: fixed;
  bottom: 0px;
  top:0px;
  left: 0px;
  font-size: 100%;
  color: #;
  width: 10px;
  height:100%;
  padding: 0px 10px 10px;
  text-align: center;
  display: block;
  border-radius: 5px;
  background: lightgray;
}
